---
---
// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';


// Form
div#form_sample{
  background-color:rgba(60, 214, 255, 0.43);
  text-align:center;
  border:1px solid #ccc;
  width:100%;
  padding:0 50px 15px;
  margin-top:20px;
  box-shadow:0 0 15px;
  border-radius:6px;
  float:none;
  align:center;
}
input[type="text"]{
  width:50%;
  margin-top:10px;
  height:35px;
  margin-bottom:25px;
  padding:10px;
  border:3px solid #ccc
}
input[type="submit"]{
  width:250px;
  padding:10px 45px;
  background-color:#F98752;
  border:none;
  color:#fff;
  font-size:18px;
  font-weight:700;
  cursor:pointer;
  font-family:'Ubuntu',sans-serif
}


// social media
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}