
<div id="form_sample">
    <h2>Pre-Registration</h2>
    <p>The online Chief Data Officer Business School starts in the <b>beginning of 2017</b>, leading CDOs share their knowledge
        with participants and based on the in-service education you get well prepared for your CDO opportunities. <br>
        <b>Pre-register with your email</b> to get an official sign-up invitation first of all in 2016.</p>
    <form action="//formspree.io/registration@cdohub.com" method="POST">
        Your Name: <input type="text" name="name"><br>
        Your Email: <input type="text" name="email"><br>
        <input type="hidden" name="_next" value="/thankspreregistration/" />
        <input type="hidden" name="_subject" value="Pre-Registration CDO Business School" />
        <input type="submit" value="Send">
    </form>
    <small>(no spam, no marketing, no commitment, no costs)</small>
</div>