---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="post-content">
      {{ content }}
      <!-- {% include preregistration.html %} -->

      <h4>Share on:</h4>
      <ul class="share-buttons">
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcdohub.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="/img/simple_icons_black/Facebook.png"></a></li>
          <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fcdohub.com&text=:%20http%3A%2F%2Fcdohub.com&via=CDOhub" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="/img/simple_icons_black/Twitter.png"></a></li>
          <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fcdohub.com" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="/img/simple_icons_black/Google+.png"></a></li>
          <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fcdohub.com&title=&summary=&source=http%3A%2F%2Fcdohub.com" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/img/simple_icons_black/LinkedIn.png"></a></li>
          <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fcdohub.com" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="/img/simple_icons_black/Email.png"></a></li>
      </ul>

  </section>

</article>

<!-- Post navigation -->
{% if site.theme.post_navigation %}
<div id="post-nav">
    {% if page.previous.url %}
    <a id="prev-post" href="{{ site.baseurl }}{{ page.previous.url }}">
      <span class="page-title">{{ page.previous.title }}</span>
      <span class="nav-label">
        <i class="fa fa-chevron-left"></i> {{ site.theme.str_prev }}
      </span>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a id="next-post" href="{{ site.baseurl }}{{ page.next.url }}">
       <span class="page-title">{{ page.next.title }}</span>
       <span class="nav-label">
        {{ site.theme.str_next }} <i class="fa fa-chevron-right"></i>
       </span>
     </a>
    {% endif %}
</div>
{% endif %}


<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

